<h1 mat-dialog-title>{{data.auction.name}}</h1>
<div mat-dialog-content>
  <p *ngIf="data.auction.currentBid">Current bid: {{data.auction.currentBid.price}} €</p>
  <p *ngIf="!data.auction.currentBid">Current bid: {{data.auction.startingPrice}} €</p>
  <p>What is your bid?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.newBid">
  </mat-form-field>
  <span>€</span>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.newBid">BID</button>
</div>
