<h1 mat-dialog-title>{{data.auction.name}}</h1>
<div mat-dialog-content>
  <p *ngIf="data.auction.currentBid">Aktuelles Gebot: {{data.auction.currentBid.price / 10}} €</p>
  <p *ngIf="!data.auction.currentBid">Aktuelles Gebot: {{data.auction.startingPrice}} €</p>
  <p>Wie hoch ist Ihr Gebot?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.newBid">
  </mat-form-field>
  <span class="separator">,</span>
  <mat-form-field>
    <input matInput [(ngModel)]="data.cent" [maxlength]="2">
    <mat-hint></mat-hint>
  </mat-form-field>
  <span>€</span>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Abbrechen</button>
  <button mat-button [mat-dialog-close]="{euro: data.newBid, cent: data.cent}">BIETEN</button>
</div>
