<h1 mat-dialog-title>{{data.auction.name}}</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="input-block">
      <input matInput placeholder="Name" formControlName="name">
      <mat-error *ngIf="form.get('name').invalid">Please enter a name</mat-error>
    </mat-form-field>
    <mat-form-field class="input-block">
      <input matInput #startingPrice placeholder="Starting price" formControlName="startingPrice">
      <mat-error *ngIf="form.get('startingPrice').invalid">Please enter a starting price</mat-error>
    </mat-form-field>
    <mat-form-field class="input-block">
    <textarea matInput placeholder="Description" name="description" matTextareaAutosize
              matAutosizeMinRows="3" matAutosizeMaxRows="8" formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field class="input-block">
      <input matInput placeholder="Color" formControlName="color">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Abort</button>
  <button mat-button (click)="save()">Save</button>
</div>
