<mat-card class="details-card" *ngIf='auction'>
  <mat-card-header>
    <mat-card-title class="name">{{auction.name}}</mat-card-title>
    <mat-card-subtitle class="manufacturer">{{auction.manufacturer}}</mat-card-subtitle>
    <mat-card-title class="price" *ngIf="auction.currentBid">{{auction.currentBid.price}} €</mat-card-title>
    <mat-card-title class="price" *ngIf="!auction.currentBid">{{auction.startingPrice}} €</mat-card-title>
    <mat-card-subtitle class="timer">{{auction.endTime | date}}</mat-card-subtitle>
    <mat-card-subtitle class="countdown">{{remainingTime}} seconds left</mat-card-subtitle>
    <mat-card-subtitle class="countdown" *ngIf="remainingTime.getTime() / 1000 >= 60">{{getRemainder()}}</mat-card-subtitle>
    <mat-card-subtitle class="countdown-warn" *ngIf="remainingTime.getTime() / 1000 < 60">{{getRemainder()}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src='{{auction.images}}'>
  <mat-card-content>
    <p>Farbe: <span class="color">{{auction.color}}</span></p>
    <p class="description">
      {{auction.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="openBidDialog()" [disabled]="!this.user">BIETEN</button>
  </mat-card-actions>
</mat-card>

