<mat-card class="details-card">
  <mat-card-header>
    <mat-card-title>Name</mat-card-title>
    <mat-card-subtitle>Hersteller</mat-card-subtitle>
    <mat-card-title><span class="price">Aktuelles Gebot</span></mat-card-title>
    <mat-card-subtitle><span class="timer">Verbleibende Zeit</span></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="PICTURE">
  <mat-card-content>
    <p>Farbe: <span class="color">Test</span></p>
    <p class="description">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>BIETEN</button>
  </mat-card-actions>
</mat-card>
