.details-card {
  max-width: 400px;
}
.price {
  position: absolute;
  right: 30px;
  top: 25px;
}
.timer {
  position: absolute;
  right: 30px;
  top: 60px;
}
.countdown {
  position: absolute;
}
.countdown-warn {
  position: absolute;
  color: red;
}
