.details-card {
  width: 100%;
}

.price {
  position: absolute;
  right: 30px;
  top: 25px;
}

.timer {
  position: absolute;
  right: 30px;
  top: 60px;
}
.countdown {
  position: absolute;
}
.countdown-warn {
  position: absolute;
  color: red;
}
