<mat-card class="details-card">
  <mat-card-header>
    <mat-card-title class="name">{{auction.name}}</mat-card-title>
    <mat-card-subtitle class="manufacturer">{{auction.manufaturer}}</mat-card-subtitle>
    <mat-card-title class="price">{{auction.currentBid}}</mat-card-title>
    <mat-card-subtitle class="timer">{{auction.endTime}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="PICTURE">
  <mat-card-content>
    <p>Farbe: <span class="color">{{auction.color}}</span></p>
    <p class="description">
      {{auction.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>BIETEN</button>
  </mat-card-actions>
</mat-card>
