<div fxFlex fxLayout="row" fxLayoutAlign="center">
  <div fxFlex fxLayout="column" fxLayoutAlign="start" class="container">
    <h1>Welcome to Auctionary.</h1>
    <h4>Place your bid.</h4>
    <p>Auctonary is a plattform for everyone to sell their stuff. Simply add an auction and get started.</p>
    <ul>
      <li><span class="mat-body-2">Give it a name: </span>Successfully selling your products will be easier with a
        meaningful name
      </li>
      <li>
        <span class="mat-body-2">Describe your product: </span>Whether it's the design, the condition or your personal
        story, describing your product in the best way will catch people's attention
      </li>
      <li>
        <span class="mat-body-2">Stop getting lowballed: </span>Set a minimum price for your product. This way nobody
        place a bid that will hurt your feelings - deeply.
      </li>
      <li>
        <span class="mat-body-2">How long will it take to sell it? </span>It's up to you! Set the duration of the time
        the auction will last.
      </li>
    </ul>
  </div>
</div>
